{
	"cs_api_url": "{{ cs_api_url }}",
	"cs_api_key": "{{ cs_api_key }}",
	"cs_api_secret_key": "{{ cs_api_secret_key }}",
	"ssh_username": "{{ ssh_username }}",
	"template_input_name": "{{ name }}",
	"template_output_name": "{{ template_output_name }}"
}